*
{
    margin: 0px auto;
    padding: 0px;
}
.background_image
{
    width: 100%;
    height: 850px;
    background-attachment: fixed;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_color
{
    width:100%;
    height: 800px;
    background-color: black;
    opacity: 0.8;
    margin-top: 20px;
}


.slider_text
{
    background-color: #d4c7c7;
    margin-top: 30px;
    color:darkred;
    font-size: 35px;
    font-family: fantasy;
    padding-left: 40%;
    border-radius: 200px
}
.slider_text1
{
    height: 150px;
    width: 100%;
    background-color: #d4c7c7;
    margin-top: 30px;
    color:darkred;
    font-size: 35px;
    font-family: fantasy;
}
.slider_text2
{
    height: 480px;
    width: 100%;
    background-color: #d4c7c7;
    margin-top: 30px;
    color:darkred;
    font-size: 35px;
    font-family: fantasy;
}
.slider3
{
    height: 100px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    background-attachment: inherit;
    margin-bottom: 30px;
}
.icon i
{
    margin-top: 30px;
    margin-left: 20px;
    font-size:40px;
    color: darkred;
}